{% extends "base.htm" %}


{% block nav%}
<li ><a href="#">></a></li>
<li id="nav_post"><a href="/add">Update Status</a></li>

{% endblock %}

{% block header %}
<h1>What are you up to?</h1>
{% endblock %}


{% block head %}
    <!-- Google MAPS API -->
    <style type="text/css">
        #map_canvas { height: 300px; width:100%; }
		.find_step {margin-bottom:4px;margin-top:4px}
		#map_success h3 {color:white;font-size:10pt;}
		.find_step input {width:100%}
		#where {width:344px;}
		#searchBtn {width:80px}
		#searchResults { overflow: scroll; max-height:120px; padding: 4px; margin-top:4px}
		#searchResults ul { list-style-type: none; margin-left: 2px;}
		#searchResults ul>li { margin-top:2px;}
		#searchResults .btn { padding:1px 2px 1px 2px}
		#searchResults .address {margin-left:5px;}
		#searchResults .pickme{ width:13%}
		#findMeBtn {float:right;}

		.alert-message li{ color:white; }
		.alert-message ul{ margin-bottom:0px; }
		.alert-message a{ color:white; text-decoration:underline; }

		.statement .wide {width:50%}
		
		.address_box {margin-top:2px; padding:5px; margin-right:15px;}

		.address_box input {border:0;-webkit-box-shadow:none;color:gray;font-size:9pt;}
		.place_name {font-weight:bold; padding-bottom:0px; margin-bottom:0px;}
		.place_address {padding-top:0px; margin-top:0px; margin-bottom:0px; padding-bottom:0px}
		
		.find_loc_btn { float:right; margin-right:40px;}
        .step {margin-top:4px;}
		.gray { color:gray;}
		.optional {}
		</style>
    <!--
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=true">
        </script>
    -->
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
	<script type="text/javascript" src="/JS/add_event.js"></script>
	<script type="text/javascript" src="/JS/status_control.js"></script>
	<script type="text/javascript" src="/JS/search_map.js"></script>
	<script type="text/javascript" src="/JS/bootstrap-modal.js"></script>
    <script type="text/javascript">

	function  findMeForAdd()
	{
    	findMeFnc( function(){
			findPlacesNear( myLoc );
			});
	}
	
	function addTestAddress()
	{
		$('#where_name').val( 'Test place' );
		$('#where_addr').val( 'Test address' );
		$('#loc_geopt_lat').val( '42' );
		$('#loc_geopt_lng').val( '71' );
	}
	
	function displayDate()
	{
		var d_s = Date.parse( $( "#when_end" ).val() );
		$('#out_str').html( d_s.toString() );

	}
	
	$(function () {		
		$("#nav_post").addClass( "active");
	    $("#do_submit").click( do_submit );		
	});

	</script>
{% endblock %}

{% block right_col %}
<div class="gray">
	Tell the world what you are working on, where, when, and who you would like to sit next to.  
	And you never know who might join. If you are a designer, perhaps you want to sit next to developers?
	If you are doing a startup, perhaps you would want to sit next to lawyers?  Put whatever...  
</div>
{% endblock %}

{% block main %}




<div class="statement" id="add_step">
{% if not user %}
<div class="alert-message error">
	While you can post without <a href="{{login_url}}">logging in</a>, why would you want to?  If you log in:
	<ul>
		<li>people will be able to send you emails</li>
		<li>you'll be able to update/end your status</li>
		<li>the site will remember your last status, so you don't have to type as much</li>
		<li>I will buy you a drink once I have an income again</li>
	</ul>
	So why don't you <a href="{{login_url}}">log in</a>?  Come on...  it will take like 2 seconds...
</div>
{% endif %}

	<div class="step">
	   Hi.  My <span class='emphasize'>name</span> is
			{% if not user %}
	    		<input type="text" class="wide" id="who_name" name="who_name" placeholder="Mr. Awesome" value="{{old_event.who_name}}"></input>
			{% else %}
				{{ username }}
	    		<input type="hidden" id="who_name" name="who_name" value="{{user.username}}"></input>
			{% endif %}.
		<div id="who_name_error" class="hide alert-message error"></div>
	</div>	
	
	<div class="step" >
	    I'll be at 
		<div class="address_box well">
			{% if old_event.lat %}
				{% if old_event.place.place_name %}
				<input type="text" class="wide place_name" id="where_name" name="where_name" value="{{old_event.place.place_name}}" readonly />
		    	<br/>
				{% else %}
				<input type="text" class="wide" id="where_name" name="where_name" value="{{old_event.place.place_name}}" placeholder="What's this place? Home? Office?" />
				{% endif %}
				<input type="text" class="wide place_address" id="where_addr" name="where_addr" value="{{old_event.where_addr}}" readonly/>
				<div id="address_box_error" class="hide alert-message error" style="margin-bottom:0"></div>
			{% else %}
				<div id="address_box_error" class="alert-message error" style="margin-bottom:0">Please select your location on the <a href="/"><button class="btn" >map</button></a> first.</div>				
			{% endif %}
		</div>
	</div>
	
	<div class="step">
	I'll be there from now 
    <input type="hidden" id="when_start" name="when_start" value='now' placeholder="start time"></input>
    until
    <input type="text" id="when_end" name="when_end" placeholder="1pm"></input>
    .
	</div>
	<div id="when_end_error" class="hide alert-message error"></div>

	<div class="optional">
		<div class="step">
		    I'll be <input type="text" class="wide" id="where_detail" name="where_detail" placeholder="stuck between a piano and a barista" value="{{old_event.where_detail}}" />.
			<input type="hidden" id="loc_geopt_lat" name="loc_geopt_lat" value="{{old_event.lat}}"></input>
			<input type="hidden" id="loc_geopt_lng" name="loc_geopt_lng" value="{{old_event.lon}}"></input>
			<input type="hidden" id="username" name="username" value="{{username}}"></input>
		</div>

		<div class="step">
	    I'll be
	    <input type="text" class="wide" id="what" name="what" value="{{old_event.what}}"placeholder="coding/designing/brainstorming up a storm"></input>.
		</div>
	
		<div class="step">
	    	I <span class='emphasize'>know</span> 
	    	<input type="text" class="wide" id="skill" name="skill" value="{{old_event.skill}}" placeholder="design, PHP, juggling..."></input>
	    .
		</div>
	
		<div class="step">
			I'd like to <span class='emphasize'>sit next to</span>
	    	<input type="text" class="wide" id="skill_neighbor" name="skill_neighbor" value="{{old_event.skill_neighbor}}" placeholder="designers, hot girls, therapists..."></input>.
		</div>
	</div>
	
	<div class="step">
    	<button class="btn" id="do_submit">Add</button>
		<a href="/"><button class="btn">Cancel</button></a>
	</div>
</div>
<div id="not_logged_in_success_message" class="alert-message success hide">
	Thanks.  Your status has been posted.  Please consider logging in next time.  Seriously, a I'll buy you a drink...  I'll brew you something if I have to...
</div>
<div id="out_str"></div>


<div id="find_place" class="hide" style="display: none; ">
	<div class="find_step" >
		1.  Search for the place/address where you are:<br/>
        <input type="text" id="where" name="where" placeholder="Click to search for an address or a place..." />
		<button class="btn" name="searchBtn" id="searchBtn" value="Search">Search</button>
		<button class='btn' name='findMeBtn' id='findMeBtn' value='Find Me' onclick='findMeForAdd()'>Find Me Again!</button>
	</div>
    <div id="map_canvas" ></div>
	<div id="map_success" class="alert-message success hidden"></div>
	<div id="map_working"  class="alert-message info hidden "></div>
	<div id="map_error"  class="alert-message error hidden"></div>
    <div id="searchResults" class="hidden"></div>

	<div class="find_step hidden" id="step_confirm">
		3.  Confirm the location:
		<br/>
        <input type="text" id="new_where_name" name="new_where_name" placeholder="Name of this venue" value="name of the place" />
        <br/>
		<input type="text" id="new_where_addr" name="new_where_addr" placeholder="Address" value="address"  />
	</div>
	<input type="hidden" id="new_loc_geopt_lat" name="new_loc_geopt_lat"></input>
	<input type="hidden" id="new_loc_geopt_lng" name="new_loc_geopt_lng"></input>

           <a href="#" class="btn primary" id="btn_map_note_here">Found Me!</a>
           <a href="#" class="btn secondary" id="btn_map_cancel">Nevermind...</a>
 </div>


<hr/>
{% endblock %}