{% extends "base.htm" %}


{% block nav%}
<li class="active"><a href="#">Post</a></li>
<li><a href="/browse">Browse</a></li>
{% endblock %}

{% block head %}
    <!-- Google MAPS API -->
    <style type="text/css">
        #map_canvas { height: 200px; width:100%; }
        </style>
    <!--
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=true">
        </script>
    -->
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
	<script type="text/javascript" src="/JS/add_event.js"></script>
	<script type="text/javascript" src="/JS/search_map.js"></script>
	<script type="text/javascript" src="/JS/bootstrap-modal.js"></script>
    <script type="text/javascript">
	$(function () {
		init_add_event();
		
		$('#map-overlay').bind('shown', function () {
		  init_map_stuff();
		  initMyExistingPosition();
		})
		
		$('#btn_map_note_here').click( function(){
			applyMyNewPosition();
			$('#map-overlay').modal( 'hide' );
		});

		$('#btn_map_cancel').click( function(){
			$('#map-overlay').modal( 'hide' );
		});
		
	});

	</script>
{% endblock %}

{% block right_col %}
<h3>Thasssright!'</h3>
{% endblock %}

{% block main %}
<div id="map-overlay" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <a href="#" class="close">×</a>
              <h3>Where are you?</h3>
            </div>
            <div class="modal-body">
		        <input type="text" id="where" name="where" value="Starbucks" />
		        <div id="map_success"   style="display:none;color:white;padding:10px;background-color:green;">hello</div>
		        <div id="map_error"     style="display:none;color:white;padding:10px;background-color:red;">hello</div>

				<button class="btn" name="searchBtn" id="searchBtn" value="Search">Search</button>
		        <button class="btn" name="findMeBtn" id="findMeBtn" value="Find Me">Find Me!</button>
		        <div id="searchResults"></div>
		        <div id="map_canvas" ></div>
				
		        <input type="text" id="new_where_name" name="new_where_name" value="name of the place" />
		        <br/>
				<input type="text" id="new_where_addr" name="new_where_addr" value="address"  />
		        <br/>
				<input type="text" id="new_where_detail" name="new_where_detail" value="add a comment?" />
				<input type="hidden" id="new_loc_geopt_lat" name="new_loc_geopt_lat"></input>
				<input type="hidden" id="new_loc_geopt_lng" name="new_loc_geopt_lng"></input>
				
            </div>
            <div class="modal-footer">
              <a href="#" class="btn primary" id="btn_map_note_here">Found Me!</a>
              <a href="#" class="btn secondary" id="btn_map_cancel">Nevermind...</a>
            </div>
          </div>


<div class="statement">
    Hi.  My <span class='emphasize'>name</span> is 
    <input type="text" id="who_name" name="who_name"></input>.<br/>
    <hr/>I'll be at 

	<button data-controls-modal="map-overlay" data-backdrop="true" data-keyboard="true" class="btn">Find Location</button>
	<div>
		<input type="text" id="where_name" name="where_name" value="name of the place" readonly />
    	<br/>
		<input type="text" id="where_addr" name="where_addr" value="address" readonly/>
	</div>
    <br/><input type="text" id="where_detail" name="where_detail" value="Are you stuck between the piano and the barista?" />
	<input type="hidden" id="loc_geopt_lat" name="loc_geopt_lat"></input>
	<input type="hidden" id="loc_geopt_lng" name="loc_geopt_lng"></input>

	<hr/>
    I'll be
    <input type="text" id="what" name="what" value="working on what?"></input>.
    <hr/>
	I'll be there from
    <input type="text" id="when_start" name="when_start" ></input>
    to 
    <input type="text" id="when_end" name="when_end" ></input>
    .<hr/>
    I <span class='emphasize'>know</span> 
    <input type="text" id="skill"vname="skill"></input>
    .
	<hr/>
	I'd like to <span class='emphasize'>sit next to</span>
    <input type="text" id="skill_neighbor" name="skill_neighbor"></input>.
	<hr/>
    <button class="btn" id="do_submit">Add</button>
	<a href="/"><button class="btn">Cancel</button></a>
</div>
<div id="out_str"></div>



<hr/>
{% endblock %}