{% extends "base.htm" %}


{% block head %}
    <!-- Google MAPS API -->
    <style type="text/css">
        #map_canvas { height: 200px; width:100%; }
        </style>
    <!--
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=true">
        </script>
    -->
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
	<script type="text/javascript" src="/JS/add_event.js"></script>
    
{% endblock %}

{% block main %}
<form action="/add" method="post">
    <div class="statement">
        Hi.  My <span class='emphasize'>name</span> is 
        <input type="text" name="who_name"></input>.<br/>
        I'll be at 
        <input type="text" id="where" name="where" value="where?"></input>
        <div id="map_success"   style="display:none;color:white;padding:10px;background-color:green;">hello</div>
        <div id="map_error"     style="display:none;color:white;padding:10px;background-color:red;">hello</div>
        <!--<input type="button" value="Encode" onclick="codeAddress()">-->
        <div id="map_canvas" ></div>
        where I'll be
        <input type="text" name="what" value="working on what?"></input>.
        I'll be there from
        <input type="text" name="when_start" ></input>
        to 
        <input type="text" name="when_end" ></input>
        .<br/>
        I <span class='emphasize'>know</span> 
        <input type="text" name="skill"></input>
        .<br/>
        I'd like to <span class='emphasize'>sit next to</span>
        <input type="text" name="skill_neighbor"></input>.

            <input type="hidden" id="loc_geopt_lat" name="loc_geopt_lat"></input>
            <input type="hidden" id="loc_geopt_lng" name="loc_geopt_lng"></input>
    </div>
    <div>
        <input type="submit" value="Add"/>
    </div>
</form>

    <a href='/'>Back</a>
{% endblock %}