{% extends "base.htm" %}


{% block nav%}
<li class="active"><a href="#">Post</a></li>
<li><a href="/browse">Browse</a></li>
{% endblock %}

{% block head %}
    <!-- Google MAPS API -->
    <style type="text/css">
        #map_canvas { height: 200px; width:100%; }
		.find_step {margin-bottom:4px;margin-top:4px}
		#map_success {display:none;color:white;padding:2px 10px 2px 10px;background-color:green;}
		#map_success h3 {color:white;font-size:10pt;}
		#map_working {display:none;color:white;padding:2px 10px 2px 10px;background-color:orange;}
		#map_error   {display:none;color:white;padding:2px 10px 2px 10px;background-color:red;}
		.find_step input {width:100%}
		.hidden { display:none}
        </style>
    <!--
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=true">
        </script>
    -->
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
	<script type="text/javascript" src="/JS/add_event.js"></script>
	<script type="text/javascript" src="/JS/search_map.js"></script>
	<script type="text/javascript" src="/JS/bootstrap-modal.js"></script>
    <script type="text/javascript">
	$(function () {
		init_add_event();
		
		$('#map-overlay').bind('shown', function () {
		  $("#searchResults").hide();
		  init_map_stuff();
		  initMyExistingPosition();
		})
		
		$('#btn_map_note_here').click( function(){
			applyMyNewPosition();
			$('#map-overlay').modal( 'hide' );
		});

		$('#btn_map_cancel').click( function(){
			$('#map-overlay').modal( 'hide' );
		});
		
	});

	</script>
{% endblock %}

{% block right_col %}
<h3>Thasssright!'</h3>
{% endblock %}

{% block main %}
<div id="map-overlay" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <a href="#" class="close">×</a>
              <h3>Where are you?</h3>
            </div>
            <div class="modal-body">
		        <div id="map_canvas" ></div>
		        <div id="map_success"></div>
		        <div id="map_working">
		        	Looking for your loaction...		
		        </div>
		        <div id="map_error"></div>
				
				<div class="find_step" >
					1.  Search for the place/address where you are:<br/>
			        <input type="text" id="where" name="where" value="Starbucks" />
					<button class="btn" name="searchBtn" id="searchBtn" value="Search">Search</button>
			        <div id="searchResults"></div>
				</div>
				<div class="find_step hidden" id="step_confirm">
					2.  Confirm the location:
					<br/>
			        <input type="text" id="new_where_name" name="new_where_name" value="name of the place" />
			        <br/>
					<input type="text" id="new_where_addr" name="new_where_addr" value="address"  />
			        <br/>
					<input type="text" id="new_where_detail" name="new_where_detail" value="add a comment?" />
				</div>
				<input type="hidden" id="new_loc_geopt_lat" name="new_loc_geopt_lat"></input>
				<input type="hidden" id="new_loc_geopt_lng" name="new_loc_geopt_lng"></input>
				
            </div>
            <div class="modal-footer">
              <a href="#" class="btn primary" id="btn_map_note_here">Found Me!</a>
              <a href="#" class="btn secondary" id="btn_map_cancel">Nevermind...</a>
            </div>
          </div>


<div class="statement">
    Hi.  My <span class='emphasize'>name</span> is 
    <input type="text" id="who_name" name="who_name" value="{% if user%}{{user.username}}{% endif%}"></input>.<br/>
    <hr/>I'll be at 

	<button data-controls-modal="map-overlay" data-backdrop="true" data-keyboard="true" class="btn">Find Location</button>
	<div>
		<input type="text" id="where_name" name="where_name" value="name of the place" readonly />
    	<br/>
		<input type="text" id="where_addr" name="where_addr" value="address" readonly/>
	</div>
    <br/><input type="text" id="where_detail" name="where_detail" value="Are you stuck between the piano and the barista?" />
	<input type="hidden" id="loc_geopt_lat" name="loc_geopt_lat"></input>
	<input type="hidden" id="loc_geopt_lng" name="loc_geopt_lng"></input>

	<hr/>
    I'll be
    <input type="text" id="what" name="what" value="working on what?"></input>.
    <hr/>
	I'll be there from
    <input type="text" id="when_start" name="when_start" ></input>
    to 
    <input type="text" id="when_end" name="when_end" ></input>
    .<hr/>
    I <span class='emphasize'>know</span> 
    <input type="text" id="skill"vname="skill"></input>
    .
	<hr/>
	I'd like to <span class='emphasize'>sit next to</span>
    <input type="text" id="skill_neighbor" name="skill_neighbor"></input>.
	<hr/>
    <button class="btn" id="do_submit">Add</button>
	<a href="/"><button class="btn">Cancel</button></a>
</div>
<div id="out_str"></div>



<hr/>
{% endblock %}