{% extends "base.htm" %}

{% block nav%}
{% endblock %}

{% block header %}
<h1>Where is everyone?
	<small><br/>
	Work next to interesting people. Let interesting people work next to you. 
	</small></h1>
{% endblock %}


{% block head %}
<style>
	#map_canvas { height: 300px; width:100%; }

	.map_info_who { font-weight:bold}
	.map_info_place_name { text-decoration:italic}
	.map_info_addressP{ font-size:5px	}
	
</style>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
<script type="text/javascript" src="/JS/search_map.js"></script>

<script type="text/javascript">

var count = 1;

function createEventMarker( lat, lng, message  )
{
	var spot = new google.maps.LatLng( lat, lng );
    var marker = new google.maps.Marker({
            map: map,
            position: spot,
			zIndex: 1
    });

    markersList.push({marker:marker});
    google.maps.event.addListener(marker, 'click', function( marker ) {
        infowindow.setContent( message );
        infowindow.open(map, this);
    });
	console.log( "creating a marker: " + message );
	return marker;	
}

function showHistory()
{
	$("#show_history").val( 1 );
	findItems();
}

// This function tries to find everyone on the current map
// and places them on the map
function findItems(){
	$( "#events_table tr" ).slideUp( 'slow' );
	$( "#events_table" ).html( "" );
	
	console.log( "findItems: looking for items around");
	setStatus( "working", "Working...", "findItems", function(){
	
	var show_history = "";
	if( $("#show_history").val() ){
		show_history = "&show_history=1";
	}
	var bounds = map.getBounds();
	// Make the AJAX call to get the items within bounds
	$.ajax( {
				url: "/get_items?bounds=" + bounds.toUrlValue(10) + show_history + '&json=1', 
				dataType: 'json',
				error: function(jqXHR, textStatus, errorThrown){
						setStatus( "error", "There was an error: " + jqXHR + ", " + textStatus + ", "+ errorThrown, "findItems" );
					},
				success: function( items_json ){
					//$("#received").html( "he: " + items_json );
					clearMarkerList();
					var locations = eval( items_json );
					
					for( var loc in locations ){
						
						var coordinates = loc.split( "|");
						var items = locations[loc];
						person_str = ( items.length == 1 )  ? "person" : "people";
						createEventMarker( coordinates[0], coordinates[1], 
								"<div class='map_info_who'>" + items.length + " " + person_str + " hanging out at </div>" +
								"<div class='map_info_place_name'><a href='/place/" + items[0].where_loc_lat + "/" + items[0].where_loc_lng + "/" + items[0].place_name + "'>" + items[0].place_name + "</a></div>" + 
								"<div class='map_info_address'>" + items[0].where_addr + "</div>");
						
						for( e_ind in items ){
							addEvent( "event_" + items[e_ind].event_id, items[e_ind].event_html );
						}
						adjust_dates();
					} 
					setStatus( "success", "Looking for people in the area completed.", "findItems" );
				} 
			});
	} );
	return true;
}

function addEvent( id, event_html )
{
	$( "#events_table" ).append( "<tr class='hidden' id='" + id + "'><td>" + event_html + "</td></tr>");
	$( "#" + id ).slideDown( 'slow' );
}

// Finds the address and deploys the pin around that location.
function browseSearch()
{
	var sTxt = $("#where").val();
	centerOnAddress( sTxt, findItems );
}

// Finds my location, then finds all people who are hanging out here.
function findMeForBrowseAll()
{
	findMeFnc();
}


$(function () {
	
	// init_btn_act - used to be
    $("#searchBtn").click( function () {
        browseSearch();
    });
	$("#where").keydown( function(event){
		if (event.keyCode == '13') {
			browseSearch();
		}
	});
	
	$("#nav_browse").addClass( "active" );

	init_map_stuff();
	findMeForBrowseAll();
	
	// Need to call listener because that is when the bounds actually change
	// Not using bounds_changed because http://stackoverflow.com/questions/4338490/google-map-event-bounds-changed-triggered-multiple-times-when-dragging
	google.maps.event.addListener(map, 'dragend', findItems );
	google.maps.event.addListener(map, 'zoom_changed', findItems );

});

</script>
{% endblock %}

{% block main %}
<div id="received" ></div>
<div class="well" style="padding:10px">
    <input type="text" class="span6" id="where" name="where" placeholder="Enter an address to see who is working on what..." />
	<button class="btn primary" name="searchBtn" id="searchBtn" value="Search">Search</button>
	<button class='btn' name='findMeBtn' id='findMeBtn' value='Find Me' onclick='findMeForBrowseAll()'>Find Me Again!</button>
	{% comment %}	
	<button class="btn" name="" id="" value="Test" onclick="setStatus('working', 'test')">Test</button>
	{% endcomment %}
</div>

<div id="map_canvas" ></div>
<table id="events_table">
    {% for event in events %}
	<tr><td>
		{% include "event_snip.htm" %}
	</td></tr>
    {% endfor %}
</table>
{% endblock %}

{% block right_col %}
{% if my_events %}
	{% for event in my_events %}
		{% include "event_snip.htm" %}
	{% endfor %}
	<hr/>
	<a href='/user/{{username}}'>
		<button class="btn primary">Update Your Status</button>
	</a>
{% else %}
<a href="/add">
	<button class="btn primary">Update Your Status</button>
</a>
<p style="margin-top:5px">
So that people who are interested in what you do can sit next to you and work on their stuff. <a href="/about">Find out more...</a>	
</p>
{% endif %}

<hr/>
<!-- // MAILCHIMP SUBSCRIBE CODE \\ -->
<a href="http://eepurl.com/hBCt-/">
	<button class="btn">Subscribe to our Newsletter!</button>
</a>
<!-- \\ MAILCHIMP SUBSCRIBE LINK // -->

<hr/>
<div class="status">
<div id="map_success" class="alert-message hidden success"></div>
<div id="map_working" class="alert-message hidden info"   ></div>
<div id="map_error"   class="alert-message hidden error"  ></div>
</div>
<input id="show_history" type='text' class="hide"></input>
{% endblock %}