{% extends "base.htm" %}

{% block nav%}
{% endblock %}

{% block header %}
<h1>Where is everyone?
	<small><br/>
	Work next to interesting people. Let interesting people work next to you. 
	</small></h1>
{% endblock %}


{% block head %}
<style>
	#map_canvas { height: 300px; width:100%; }

	.map_info_who { font-weight:bold}
	.map_info_place_name { text-decoration:italic}
	.map_info_addressP{ font-size:5px	}
	
</style>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
<!-- 
><script type="text/javascript" src="/JS/search_map.js"></script>
-->
<script type="text/javascript" src="/JS/map_scripts.js"></script>
<script type="text/javascript" src="/JS/status_control.js"></script>
<script type="text/javascript" src="/JS/browse2.js"></script>

{% endblock %}

{% block main %}
	<div id="received" ></div>
	<div class="well" style="padding:10px">
	    <input type="text" class="span6" id="where" name="where" placeholder="Enter an address to see who is working on what..." />
		<button class="btn primary" name="searchBtn" id="searchBtn" value="Search">Search</button>
		<button class='btn' name='findMeBtn' id='findMeBtn' value='Find Me' onclick='map_center_on_me( find_users_on_map );'>Find Me Again!</button>
		{% comment %}	
		<button class="btn" name="" id="" value="Test" onclick="setStatus('working', 'test')">Test</button>
		{% endcomment %}
	</div>

	<div id="map_canvas" ></div>
	<table id="events_table">
	    {% for event in events %}
		<tr><td>
			{% include "event_snip.htm" %}
		</td></tr>
	    {% endfor %}
	</table>

{% endblock %}

{% block right_col %}
{% if my_events %}
	{% for event in my_events %}
		{% include "event_snip.htm" %}
	{% endfor %}
	<hr/>
	<a href='/user/{{username}}'>
		<button class="btn primary">Update Your Status</button>
	</a>
{% else %}
<p style="margin-top:5px">
See where everyone is or post your status so that you people know where you are... <a href="/about">Find out more...</a>	
</p>
{% endif %}

<hr/>
<!-- // MAILCHIMP SUBSCRIBE CODE \\ -->
<a href="http://eepurl.com/hBCt-/">
	<button class="btn">Subscribe to our Newsletter!</button>
</a>
<!-- \\ MAILCHIMP SUBSCRIBE LINK // -->

<hr/>
<div class="status">
<div id="map_success" class="alert-message hidden success"></div>
<div id="map_working" class="alert-message hidden info"   ></div>
<div id="map_error"   class="alert-message hidden error"  ></div>
</div>
<input id="show_history" type='text' class="hide"></input>
{% endblock %}