		<span class='item_prop'>
			{% if event.user.username %}
			<a href='/user/{{event.user.username}}'>
				{{event.who_name}}
			</a>
			{% else %}
				{{event.who_name}}
			{% endif %}
		</span>
        is 
        <span class='item_prop'>{{event.what}}</span>
        at
        <span class='item_prop'><a href="/place/{{event.place.lat}}/{{event.place.lon}}/{{event.place.place_name}}">{{event.place.place_name}}</a></span>
        from 
        <span class='item_prop adjust_date'>{{event.when_start}}</span>
        until 

        <span class='item_prop adjust_date'>{{event.when_end}}</span>
        , who knows 
        <span class='item_prop'>{{event.skill}}</span>
        and would like to sit next to
        <span class='item_prop'>{{event.skill_neighbor}}</span>.
		{% if show_link %}
			<a href="/event/{{event.id}}">(View {{event.id}})</a> 
		{% endif %}
