{% extends "base.htm" %}

{% block header %}
<h1>Who are you?</h1>
{% endblock %}

{% block head %}
{% if user %}

<SCRIPT>
function submitUserInfo()
{
	if( $("#username").val() == "" ){
		$("#response").slideUp('fast', function(){
			$("#response").removeClass("success").addClass("error").html( "Please enter a username." ).slideDown( 'slow');			
		});
		return;
	}
	$.ajax({
		url: "/profile",
		data: {username: $("#username").val()},
		type: "POST",
		error: function( msg ){
			$("#response").slideUp('fast', function(){
				$("#response").removeClass("success").addClass("error").html( msg ).slideDown( 'slow');			
			});
		},
		success: function( msg ){
			$("#response").slideUp('fast', function(){
				var ar = JSON.parse( msg );
				$("#nav_me a").attr( "href", "/user/" + ar[0]);
				$("#nav_me").fadeIn();
				$("#response").removeClass("error").addClass("success").html( "Your username has been updated.  Now <a href='/add'> <button class='btn primary'>update your status</button></a>. " ).slideDown( 'slow');
				// TODO: set the link to the new username
				// $("#nav_me").href( '/user/' + $("#username").val());			
			});
		}
	}
		);
}
	$(function(){
		if( $("#nav_me a").attr( "href")  == "/user/" ){
			$("#nav_me").fadeOut();
		}
		$("#profile_button").addClass( "active");
		$("#submit_user").click( submitUserInfo );
	});
</SCRIPT>
{% endif %}
{% endblock %}

{% block main %}

{% if user %}
Please enter your username:
<input id="username" value="{{username}}" placeholder="Enter your Username"/>
<button id="submit_user" class="btn">Submit</button>
<div id="response" class="alert-message hide"></div>
{% else %}
Sorry, you must be logged in to access this page.
{% endif %}

{% endblock %}