{% extends "base.htm" %}


{% block nav%}
{% endblock %}

{% block header %}
<h1>What are you up to?</h1>
{% endblock %}


{% block head %}
    <script type="text/javascript">

	$(function () {		
		$("#run_test").click( function(){
			$('#out').html( "Running" );
			
			var v = $('#in').val();
			// $('#out').html( v );
			var d_s = Date.parse( v );
			$('#out').html( d_s.toString() );

		});
		
	});

	</script>
{% endblock %}

{% block right_col %}
<h3>Thasssright!'</h3>
{% endblock %}

{% block main %}
<div class="statement">
<input type="text" id="in" placeholder="now"></input>
</div>
<input type="text" id="in" placeholder="now"></input>
<button id="run_test" class="btn">Go</button>
<div id="out"></div>


{% endblock %}