

{% extends "base.htm" %}


{% block nav%}
{% endblock %}

{% block header %}
<h1>What are you up to?</h1>
{% endblock %}


{% block head %}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">
    var map;
	$(function () {	

/*      var myOptions = {
          zoom: 8,
          center: new google.maps.LatLng(-34.397, 150.644),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'),
            myOptions);	
*/
	var ce = new google.maps.LatLng(-34.397, 150.644);
    map = new google.maps.Map( document.getElementById( 'map_canvas' ), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: ce,
            //center: pi0,
            zoom: 8,
			scrollwheel: false
        });

    });

	</script>
{% endblock %}

{% block right_col %}
<h3>Thasssright!'</h3>
{% endblock %}

{% block main %}

<div style="margin: 0; padding: 0; width: 400px; height: 400px;%;"id="map_canvas" ></div>



{% endblock %}