{% extends "base.htm" %}

{% block nav%}
	{% if not user_is_me %}
		<li id="nav_user" class="active"><a href="#">{{user_to_view.username}}</a></li>
	{% endif %}
{% endblock %}

{% block head %}
<script type="text/javascript">
$(function(){
	{% if user_is_me %}
	$("#nav_me").addClass( "active");
	{% endif %}
});

</script>
<style>
#my_status {padding-bottom:0px;}
#update_status_button {margin-bottom:0px;}
#me_done_button { display:inline-block; margin-bottom:0px }
.alert-actions {padding-bottom:6px;}
</style>

{% endblock %}

{% block header %}
	{% if user_to_view %}
		<h1>{{user_to_view.username}}</h1>
	{% else %}
		User does not exist.
	{% endif %}	
{% endblock %}

{% block main %}
{% if user_to_view %}
	<div class="alert-message block-message success" id="my_status">
		{% if events %}
			{% for event in events %}
				{% include "event_snip.htm" %}
			{% endfor %}
		{% else %}
		Uhhh...  not doing anything at the moment.
		{% endif %}
	<div class="alert-actions">
	{% if user_is_me %}
		<a class="btn" href="/" title="View where you are and where everyone is on the map.">View Map</a>
		{% if events %}
		<form id="me_done_button" action="/user/{{user.username}}/closeout" method="post">
			<input class="btn" type="submit" value="I am done" />
		</form>
		{% endif %}
		<a class="btn" id="update_status_button" href="/add">Update My Status</a>
	{% endif %}
	</div>
	</div>

	{% if old_events %}
	<h3>Archive:</h3>
		<table>
			{% for event in old_events %}
			<tr><td>		
				{% include "event_snip.htm" %}
			</td></tr>
			{% endfor %}
		</table>
	{% endif %}

{% endif %}

{% endblock %}

{% block right_col %}
{% if not user_is_me %}
<a href="/conversation/{{user_to_view.username}}"><button class="btn" >Send User a Message</button></a> 
{% endif %}
{% endblock %}
